span{
    width: 100px;
    display: inline-block;
}

div{
    margin: 10px;
}

#nevSzamlalo{
    color: green;
    width: 300px;
}

#jelszoSzamlalo{
    color: red;
    width: 300px;
}

#jelszoIsmetHelyes{
    color: red;
    width: 300px;
}